.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

.pagination__button-left {
  background-color: inherit;
  border: none;
}

.pagination__button-right {
  background-color: inherit;
  border: none;
}

.pagination__button-left:hover {
  transition: transform 0.2s;
  transform: scale(1.5);
}

.pagination__button-right:hover {
  transition: transform 0.2s;
  transform: scale(1.5);
}

@media screen and (min-width: 426px) {
  .pagination-container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
