.favorites__tittle {
  display: flex;
  text-align: left;
  align-items: center;
  padding-left: 28px;
}

h1 {
  color: #fafaff;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

@media screen and (min-width: 1440px) {
  .favorites__tittle {
    display: flex;
    text-align: left;
    align-items: center;
    padding-left: 290px;
  }

  h1 {
    color: #fafaff;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 4.125rem;
  }
}
