#root {
  background: linear-gradient(black, transparent 50%, black),
    url(../public/assets/universe-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
}

.container {
  width: 100%;
  min-height: 100vh;
}
