.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fafaff;
}

.card-container li {
  list-style: none;
  display: flex;
  justify-content: center;
}
.planet-name {
  text-align: center;
  font-size: 1.2rem;
  font-family: "Space Grotesk", sans-serif;
  vertical-align: top;
}

.planet-img {
  height: 12rem;
  width: 12rem;
}

.favorites-icon {
  background-color: inherit;
  border: none;
  color: #adadb7;
}

.favorites-icon:hover {
  transition: transform 0.2s;
  transform: scale(1.5);
}

.view-more-button {
  background-color: inherit;
  border: none;
  color: #fafaff;
  font-size: 0.9rem;
  margin-top: 1rem;
  font-family: "Space Grotesk", sans-serif;
  text-decoration: underline;
  text-underline-offset: 0.188rem;
}

.planet-card__info {
  font-size: 0.875rem;
  color: #fafaff;
  text-align: center;
  line-height: 1.12rem;
  font-family: "Space Grotesk", sans-serif;
}

.list__item {
  font-weight: bolder;
}

.planet-title {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

@media (min-width: 600px) {
  .view-more-button {
    text-decoration: none;
  }
  .view-more-button:hover {
    text-decoration: underline;
    text-underline-offset: 0.188rem;
  }
}
